@{
    ViewData["Title"] = "İletişim";
}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <partial name="_CategoriesPartial" />
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+90 212 888 88 88</h5>
                                <span>7/24 destek hattı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="https://images.unsplash.com/photo-1556742049-0cfed4f6a45d?w=1200&q=80" style="background-image: url('https://images.unsplash.com/photo-1556742049-0cfed4f6a45d?w=1200&q=80');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>İletişim</h2>
                        <div class="breadcrumb__option">
                            <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            <span>İletişim</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Telefon</h4>
                        <p>+90 242 888 88 88</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Adres</h4>
                        <p>Muratpaşa Merkez, Antalya</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Çalışma Saatleri</h4>
                        <p>09:00 - 18:00 (Hafta içi)</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>E-posta</h4>
                        <p>destek@tazesepet.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102047.45781309855!2d30.5986423!3d36.9081261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c39aaeddcb109b%3A0x633900223bd739c9!2sAntalya!5e0!3m2!1str!2str!4v1680000000000!5m2!1str!2str"
                height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Antalya</h4>
                <ul>
                    <li>Telefon: +90 242 888 88 88</li>
                    <li>Adres: Muratpaşa Merkez</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Bize Mesaj Gönderin</h2>
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Adınız Soyadınız">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="E-posta Adresiniz">
                    </div>
                    <div class="col-lg-12 text-center">
                        <textarea placeholder="Mesajınız"></textarea>
                        <button type="submit" class="site-btn">MESAJ GÖNDER</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->
