@model ForgotPasswordViewModel

<div class="container mt-2 mb-2">
    <h2>Şifremi Unuttum</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success mt-2">@ViewBag.SuccessMessage</div>
    }
    @if (ViewBag.SuccessMessage == null || ViewBag.EmailVerified == true)
    {
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @if (ViewBag.EmailVerified != null && ViewBag.EmailVerified)
                {

                    <div class="form-group">
                    <label asp-for="NewPassword">Yeni Şifre</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword">Yeni Şifre (Tekrar)</label>
                    <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                }
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    
    }

</div>